<!DOCTYPE html>
<html lang="en">
<style>
    .aboutUs h2 {
        margin: 10px;
        font-family: sans-serif;
    }

    .aboutUs p {
        color: rgb(128, 118, 118);
        font-family: sans-serif;
    }

    .aboutUs h6 {
        color: #fff;
        font-size: x-large;
    }

    .aboutUs h6 span {
        color: #dd9a05;
    }
</style>

<body>

    <footer>
        <div class="center">
            <div class="aboutUs">
                <h2 style="color: #fff;" id="about">About Us</h2>
                <p>This Website is created for purpose of practice. It consist of API's used from NEWSAPI.com and
                    openweather.com
                    <br>It is made by Sayyad Shoaibuddin (Student at Rmdeobaba College of Engineering and Management
                    Nagpur)
                </p>
                <br>
                     <h6>Created By <span>Sayyad Shoaibuddin</span> | &copy; 2020 All rights reserved.</h6>

            </div>
            <br>


        </div>
    </footer>
</body>

</html>