<!DOCTYPE html>
<html lang="en">
      <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
    <header class="header">
    <nav id="navbar">
        <a href="/" id="logo">
            <h2>Present Times</h2>
        </a>
        <ul>
            <li class="item"><a href="/news">News</a></li>
            <li class="item"><a href="/weather1">Weather</a></li>
            <li class="item"><a href="#about">About Us</a></li>
            <li class="item"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
  </header> 
</body>
</html>